<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
  <!--@thymesVar id="it" type="RootResource.WelcomeModel"-->
  <head th:include="fragments::html_header" th:with="pageTitle=''"></head>

  <body>

    <div style="float: right">
      <h1>Cosmic Push</h1>
      <div>One API - Infinite Destinations</div>
      <div style="font-size: smaller; text-align: right; color: #828282">
        <span th:text="${emailAddress}"></span> (<a style="color: #828282" th:href="${contextRoot}+'/sign-out'">sign out</a>)
      </div>
    </div>

    <div th:if="${it.account != null}">
      <div style="float: left">
        <a th:href="${contextRoot}+'/manage/account'">My Account</a>
      </div>
    </div>
    <div th:if="${it.account == null}">
      <form name='f' th:action="${contextRoot}+'/sign-in'" method='POST' style="float: left" enctype="application/x-www-form-urlencoded">

        <table>
          <tr>
            <td><label for="username">E-Mail Address:</label></td>
            <td><input id="username" type='text' name='username' th:value='${it.emailAddress}'/></td>
          </tr>
          <tr>
            <td><label for="password">Password:</label></td>
            <td><input id="password" type='password' name='password' th:value="${it.password}"/></td>
          </tr>
          <tr>
            <td></td>
            <td><button type="submit" style="width:100%">Sign In</button></td>
          </tr>
          <tr>
            <td colspan="2" th:text="${it.message}" style="font-weight: bold; color: red; padding-top: 1em"></td>
          </tr>
        </table>

      </form>
    </div>

    <div style="clear:both"></div>

  </body>
</html>