<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
  <!--@thymesVar id="it" type="ManageDomainModel"-->
  <head th:include="fragments::html_header" th:with="pageTitle=': Manage'"></head>

  <body>
    <div style="float: right" th:include="fragments::page_title"></div>

    <h1 th:text="${it.domain.domainKey}+': Manage'"></h1>
    <div th:include="fragments::client_sub_menu"></div>
    <div style="clear:both"></div>

    <div th:if="${it.message != null}">
      <div class="message" th:text="${it.message}"></div>
    </div>

    <form style="margin-top: 1em" method="post">
      <fieldset style="margin-top: 1em">
        <legend>Domain</legend>
        <table style="width: 100%">
          <colgroup>
            <col style="width: 1em"/>
            <col style="width: 1em"/>
            <col/>
          </colgroup>
          <tbody>
            <tr>
              <td><label for="cp-domain-name">Name:</label></td>
              <td><input type="text" id="cp-domain-name" name="domainKey" th:value="${it.domain.domainKey}" style="width:200px;"/></td>
              <td rowspan="3">&nbsp;</td>
            </tr>
            <tr>
              <td><label for="cp-domain-password">Password:</label></td>
              <td><input type="text" id="cp-domain-password" name="domainPassword" th:value="${it.domain.domainPassword}" style="width:200px;"/></td>
            </tr>
            <tr>
              <td><label for="cp-domain-retention">Retention:</label></td>
              <td><input type="text" id="cp-domain-retention" name="retentionDays" th:value="${it.domain.retentionDays}" style="width:50px;"/>&nbsp;days</td>
            </tr>
            <tr>
              <td colspan="2" style="text-align: right">
                <button type="submit" th:formaction="${contextRoot}+'/manage/domain/'+${it.domain.domainKey}" style="float:right">Update</button>
                <button type="submit" th:formaction="${contextRoot}+'/manage/domain/'+${it.domain.domainKey}+'/delete'" style="float:left">Delete</button>
              </td>
            </tr>
          </tbody>
          </table>
      </fieldset>
    </form>

    <div th:each="plugin : ${it.plugins}">
      <div th:utext="${plugin.htmlContent}"></div>
    </div>

  </body>
</html>