<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
  <!--@thymesVar id="it" type="ManageAccountModel"-->
  <head th:include="fragments::html_header" th:with="pageTitle=': My Account'"></head>

  <body>
    <div style="float: right" th:include="fragments::page_title"></div>

    <h1>My Account</h1>
    <a th:href="${contextRoot}">Home Page</a>
    <div style="clear:both"></div>


    <fieldset style="margin-top: 1em">
      <legend>Domain</legend>
      <div th:each="domain : ${it.domains}">
        <span style="color: #FFD700; font-size:22px;" th:text="${domain.domainKey}"></span>

        <span th:each="pushType : ${domain.enabledTypes}">
          <img th:src="${contextRoot}+'/manage/'+${pushType}+'/icon-enabled'" class="icon" style="margin-left: 5px"/>
        </span>

        <span th:each="pushType : ${domain.disabledTypes}">
          <img th:src="${contextRoot}+'/manage/'+${pushType}+'/icon-disabled'" class="icon" style="margin-left: 5px"/>
        </span>

        <div style="float: right">
          <a style="margin-left: 10px" th:href="${contextRoot}+'/manage/domain/'+${domain.domainKey}">Manage</a>
          <a style="margin-left: 10px" th:href="${contextRoot}+'/manage/domain/'+${domain.domainKey}+'/requests'">All Requests</a>
          <a style="margin-left: 10px" th:href="${contextRoot}+'/manage/domain/'+${domain.domainKey}+'/emails'">Emails</a>
          <a style="margin-left: 10px" th:href="${contextRoot}+'/manage/domain/'+${domain.domainKey}+'/notifications'">Notifications</a>
        </div>
        <div style="clear:both"></div>

      </div>

      <form method="post">
        <table style="margin-top: 1em">
          <colgroup>
            <col style="width: 1em"/>
            <col/>
          </colgroup>
          <tbody>
            <tr>
              <td><label for="client-name">Name:</label></td>
              <td><input type="text" id="client-name" name="domainKey" style="width:200px;"/></td>
            </tr>
            <tr>
              <td><label for="client-password">Password:</label></td>
              <td><input type="text" id="client-password" name="domainPassword" style="width:200px;"/></td>
            </tr>
            <tr>
              <td colspan="2">
                <button style="float :right" type="submit" th:formaction="${contextRoot}+'/manage/domain'">Create</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>

    </fieldset>

    <fieldset style="margin-top: 1em">
      <legend>User Details</legend>
      <form method="post" style="float: left; margin-right: 100px">
        <table>
          <colgroup>
            <col style="width: 1em"/>
            <col/>
          </colgroup>
          <tbody>
            <tr>
              <td><label for="first-name">First Name:</label></td>
              <td><input type="text" id="first-name" name="firstName" th:value="${it.account.firstName}" style="width:200px;"/></td>
            </tr>
            <tr>
              <td><label for="last-name">Last Name:</label></td>
              <td><input type="text" id="last-name" name="lastName" th:value="${it.account.lastName}" style="width:200px;"/></td>
            </tr>
            <tr>
              <td><label for="email">Email:</label></td>
              <td><input type="text" id="email" name="emailAddress" th:value="${it.account.emailAddress}" style="width:200px;"/></td>
            </tr>
            <tr>
              <td colspan="2">
                <button style="float: right" type="submit" th:formaction="${contextRoot}+'/manage/account/update'">Update</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>

      <form method="post" style="float: left">
        <table>
          <colgroup>
            <col style="width: 1em"/>
            <col/>
          </colgroup>
          <tbody>
            <tr>
              <td><label for="oldPassword">Old Password:</label></td>
              <td><input type="password" id="oldPassword" name="oldPassword" style="width:200px;"/></td>
            </tr>
            <tr>
              <td><label for="newPassword">New Password:</label></td>
              <td><input type="password" id="newPassword" name="newPassword" style="width:200px;"/></td>
            </tr>
            <tr>
              <td><label for="confirmed">Confirmed:</label></td>
              <td><input type="password" id="confirmed" name="confirmed" style="width:200px;"/></td>
            </tr>
            <tr>
              <td colspan="2">
                <button style="float: right" type="submit" th:formaction="${contextRoot}+'/manage/account/password'">Change Password</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </fieldset>

    <div style="clear:both"></div>

  </body>
</html>