<form style="margin-top: 1em" method="post">
  <fieldset style="margin-top: 1em">
    <legend class="${legend-class}">
      <img src="${context-root}/manage/domain/${domain-key}/icon/${push-type}" class="icon"/>
      <span>Amazon SES</span>
    </legend>

    <table style="width: 100%; float: left">
      <colgroup>
        <col style="width: 1em"/>
        <col style="width: 1em"/>
        <col/>
      </colgroup>
      <tbody>
        <tr>
          <td><label for="aws-access-key">Access Key ID:</label></td>
          <td><input type="text" id="aws-access-key" name="accessKeyId" value="${config-access-key-id}" style="width:325px;"></td>
          <td rowspan="7" class="help">
            Use this push to send email messages via Amazon's Simple Email Service (SES).<br/><br/>
            The <span style="font-weight:bold; color: white">Recipient Override</span> may be specified to force
            all messages to be sent to this specific recipient. When specified, messages will never be delivered
            to the API's requested recipient.
            <br/><br/>

            <table style="border:1px solid black">
              <tr>
                <th style="border:1px solid black; padding:5px;">Region name</th>
                <th style="border:1px solid black; padding:5px;">Region</th>
                <th style="border:1px solid black; padding:5px;">API (HTTPS) endpoint</th>
              </tr>
              <tr>
                <td style="border:1px solid black; padding:5px;">US East (N. Virginia) Region</td>
                <td style="border:1px solid black; padding:5px;">us-east-1</td>
                <td style="border:1px solid black; padding:5px;">email.us-east-1.amazonaws.com</td>
              </tr>
              <tr>
                <td style="border:1px solid black; padding:5px;">US West (Oregon) Region</td>
                <td style="border:1px solid black; padding:5px;">us-west-2</td>
                <td style="border:1px solid black; padding:5px;">email.us-west-2.amazonaws.com</td>
              </tr>
              <tr>
                <td style="border:1px solid black; padding:5px;">EU (Ireland) Region</td>
                <td style="border:1px solid black; padding:5px;">eu-west-1</td>
                <td style="border:1px solid black; padding:5px;">email.eu-west-1.amazonaws.com</td>
              </tr>
            </table>

          </td>
        </tr>
        <tr>
          <td><label for="aws-secret-key">Secret Key:</label></td>
          <td><input type="text" id="aws-secret-key" name="secretKey" value="${config-secret-key}" style="width:325px;"></td>
        </tr>
        <tr>
          <td><label for="aws-endpoint">Endpoint:</label></td>
          <td><input type="text" id="aws-endpoint" name="endpoint" value="${config-endpoint}" style="width:325px;"></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
          <td><label for="aws-test-to">Test To Address:</label></td>
          <td><input type="text" id="aws-test-to" name="testToAddress" value="${config-test-to-address}" style="width:200px;"></td>
        </tr>
        <tr>
          <td><label for="aws-test-from">Test From Address:</label></td>
          <td><input type="text" id="aws-test-from" name="testFromAddress" value="${config-test-from-address}" style="width:200px;"></td>
        </tr>
        <tr>
          <td><label for="aws-override">Recipient Override:</label></td>
          <td><input type="text" id="aws-override" name="recipientOverride" value="${config-recipient-override}" style="width:200px;"></td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: right">
            <button type="submit" formaction="${context-root}/manage/domain/${domain-key}/ses-email" style="float:right">Update</button>
            <button type="submit" formaction="${context-root}/manage/domain/${domain-key}/ses-email/test" style="float:right; margin-right:5px">Test</button>
            <button type="submit" formaction="${context-root}/manage/domain/${domain-key}/ses-email/delete" style="float:left">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </fieldset>
</form>
