<form style="margin-top: 1em" method="post">
    <fieldset>
      <legend class="${legend-class}">
          <img src="${context-root}/manage/domain/${domain-key}/icon/${push-type}" class="icon"/>
          <span>Twilio</span>
        </legend>

        <table style="width: 100%; float: left">
            <colgroup>
                <col style="width: 1em"/>
                <col style="width: 1em"/>
                <col/>
            </colgroup>
            <tbody>
            <tr>
                <td><label for="twilio-account-sid">Account SID:</label></td>
                <td><input type="text" id="twilio-account-sid" name="accountSid" value="${config-account-sid}" style="width:200px;"></td>
                <td rowspan="4" class="help">
                    Use this push to send &quot;SMS&quot; messages with Twilio's SMS service.<br/><br/>
                </td>
            </tr>
            <tr>
                <td><label for="twilio-auth-token">Auth Token:</label></td>
                <td><input type="text" id="twilio-auth-token" name="authToken" value="${config-auth-token}" style="width:200px;"></td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
                <td><label for="twilio-test-from-number">Test From Number:</label></td>
                <td><input type="text" id="twilio-test-from-number" name="fromPhoneNumber" value="${config-from-number}" style="width:200px;"></td>
            </tr>
            <tr>
                <td><label for="twilio-test-recipient">Test Recipient:</label></td>
                <td><input type="text" id="twilio-test-recipient" name="recipient" value="${config-recipient}" style="width:200px;"></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right">
                    <button type="submit" formaction="${context-root}/manage/domain/${domain-key}/twilio" style="float:right">Update</button>
                    <button type="submit" formaction="${context-root}/manage/domain/${domain-key}/twilio/test" style="float:right; margin-right:5px">Test</button>
                    <button type="submit" formaction="${context-root}/manage/domain/${domain-key}/twilio/delete" style="float:left">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </fieldset>
</form>
