<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
  <!--@thymesVar id="it" type="EmailsModel"-->
  <head th:include="fragments::html_header" th:with="pageTitle=': Emails'"></head>

  <body>
    <div style="float: right" th:include="fragments::page_title"></div>

    <h1 th:text="|${it.domain.domainKey}: Emails|"></h1>
    <div th:include="fragments::client_sub_menu"></div>
    <div style="clear:both"></div>

    <table class="requests-table" style="width: 100%; margin-top: 1em">
      <colgroup>
        <col style="width:1em"/>
        <col style="width:1em"/>
        <col/>
        <col style="width:1em"/>
      </colgroup>
      <thead>
        <tr>
          <th></th>
          <th>Sent</th>
          <th colspan="2">Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="pushRequest : ${it.requests}">
          <td style="padding:2px; text-align: center"
              th:include="fragments::req_icon"
              th:switch="${pushRequest.requestStatus.name}">
          </td>
          <td>
            <div th:text="${#temporals.format(pushRequest.createdAt, 'MM-dd-yy hh:mm a')}"></div>
            <div th:text="'from '+${pushRequest.remoteHost}"></div>
          </td>
          <td style="border-right: 0">
            <div>To: <strong th:text="${pushRequest.commonEmail.toAddress}"></strong></div>
            <div>Fr: <strong th:text="${pushRequest.commonEmail.fromAddress}"></strong></div>
            <div><strong th:text="${pushRequest.commonEmail.emailSubject}"></strong></div>
          </td>

          <td style="padding-right: 5px; border-left:0">
            <a th:href="${contextRoot}+'/manage/domain/'+${it.domain.domainKey}+'/emails/'+${pushRequest.pushRequestId}" style="color: inherit">&gt;&gt;&gt;</a>
          </td>

        </tr>
      </tbody>
    </table>

  </body>
</html>