<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
  <!--@thymesVar id="it" type="DomainNotificationModel"-->
  <head th:include="fragments::html_header" th:with="pageTitle=': Notification'"></head>

  <body>
    <div style="float: right" th:include="fragments::page_title"></div>

    <h1 th:text="|${it.domain.domainKey}: Notification|"></h1>
    <div th:include="fragments::client_sub_menu"></div>
    <div style="clear:both"></div>

    <fieldset style="margin-top:1em">
      <legend>Details</legend>
      <table>
        <tr>
          <td><label>Status:</label></td>
          <td th:style="|color: ${it.request.requestStatus.color}|" th:text="${it.request.requestStatus.label}"></td>
        </tr>
        <tr>
          <td><label>Sent:</label></td>
          <td th:text="${#temporals.format(it.request.createdAt, 'MM-dd-yy hh:mm a')}"></td>
        </tr>
        <tr>
          <td><label>From:</label></td>
          <td th:text="${it.request.remoteHost}"></td>
        </tr>
      </table>

      <div style="margin: 1em 0; font-weight: bold" th:text="${it.notification.summary}"></div>

    </fieldset>

    <fieldset style="margin-top:1em">
      <legend>Traits</legend>
      <div th:include="fragments::push_traits" th:with="pushTraits=${it.request.pushTraits}"></div>
    </fieldset>

    <fieldset style="margin-top:1em">
      <legend>Notes</legend>
      <div th:if="${#lists.isEmpty(it.request.notes)}">-none-</div>
      <div th:each="note : ${it.request.notes}">
        <div th:text="${note}"></div>
      </div>
    </fieldset>

  </body>
</html>