<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
  <!--@thymesVar id="it" type="EmailModel"-->
  <head th:include="fragments::html_header" th:with="pageTitle=': Email'"></head>

  <body>
    <div style="float: right" th:include="fragments::page_title"></div>

    <h1 th:text="${it.domain.domainKey}+': Email'"></h1>
    <div th:include="fragments::client_sub_menu"></div>
    <div style="clear:both"></div>

    <fieldset style="margin-top:1em">
      <legend>Details</legend>
      <form style="float: right" method="post" th:action="${contextRoot}+${it.retryUrl}" >
        <button type="submit" onclick="return confirm('Are you sure you want to retry sending this email?');">Resend</button>
      </form>
      <table>
        <tr>
          <td><label>Status:</label></td>
          <td th:style="'color: '+${it.request.requestStatus.color}" th:text="${it.request.requestStatus.label}"></td>
        </tr>
        <tr>
          <td><label>Sent:</label></td>
          <td th:text="${#temporals.format(it.request.createdAt, 'MM-dd-yy hh:mm a')}"></td>
        </tr>
        <tr>
          <td><label>From:</label></td>
          <td th:if="${it.request.remoteHost != it.request.remoteAddress}" th:text="|${it.request.remoteHost} (${it.request.remoteAddress})|"></td>
          <td th:if="${it.request.remoteHost == it.request.remoteAddress}" th:text="${it.request.remoteHost}"></td>
        </tr>
      </table>

    </fieldset>

    <fieldset style="margin-top:1em">
      <legend>Email</legend>
      <div>To: <strong th:text="${it.request.commonEmail.toAddress}"></strong></div>
      <div>Fr: <strong th:text="${it.request.commonEmail.fromAddress}"></strong></div>
      <div>&nbsp;</div>
      <div><strong th:text="${it.request.commonEmail.emailSubject}"></strong></div>
      <div style="border: 2px solid black; padding: 0" th:utext="${it.request.commonEmail.htmlContent}"></div>
    </fieldset>

    <fieldset style="margin-top:1em">
      <legend>Traits</legend>
      <div th:include="fragments::push_traits" th:with="pushTraits=${it.request.pushTraits}"></div>
    </fieldset>

    <fieldset style="margin-top:1em">
      <legend>Notes</legend>
      <div th:if="${#lists.isEmpty(it.request.notes)}">-none-</div>
      <div th:each="note : ${it.request.notes}">
        <div th:text="${note}"></div>
      </div>
    </fieldset>

  </body>
</html>